/* main */

html {
  font-family: 'montserrat';
  font-weight: 400;
  font-size: 1vw;
  background: var(--main-bg-color);
  color: var(--light-text-color);
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 0.7vw;
}

html::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.311);
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(86, 92, 121, 0.222);
  border-radius: 4px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: rgba(86, 92, 121, 0.361);
}

section {
  margin-top: 7rem;
}

a {
  text-decoration: none;
}

a:active {
  color: inherit;
}

.link {
  color: var(--light-text-color);
  transition: transform 0.2s;
}

.link:hover {
  transform: scale(1.05);
}

.link:active {
  transform: scale(0.97);
}

.button {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  border: none;
}

.button:active {
  transform: scale(0.97);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.button:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.center-container {
  width: 75rem;
  margin: 0 auto;
}

.gradient-text {
  background: var(--main-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info-text {
  font-weight: 500;
  font-size: 1.5rem;
  margin-top: 1rem;
  line-height: 2.1rem;
}

/* header styles */
.header__logo {
  width: 20%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.65rem;
  margin-top: 1rem;
  font-size: 1.1rem;
}

/* main main styles */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__title {
  font-weight: 800;
  font-size: 4rem;
}

.main__button {
  margin-top: 1rem;
  color: var(--light-text-color);
  background: var(--button-gradient);
  border: none;
  border-radius: 2rem;
  padding: 0.8rem 3rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.details {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15rem;
  margin-bottom: 15rem;
}

.details__img {
  position: absolute;
  top: -15rem;
  right: -8rem;
  width: 60rem;
}

.work {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 800;
  font-size: 2.5rem;
  width: fit-content;
}

.work__text {
  display: block;
}

.work__text_hightlight {
  color: var(--blue-color);
}

.work__cards {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, auto);
  gap: 2rem;
}

.business-card {
  grid-column: span 3;
  grid-row: span 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 2rem;
  background: var(--light-text-color);
  background: linear-gradient(313deg, #f5f5f5 0%, #69d7fb 10%, #69d7fb 20%, var(--blue-color) 100%);
}

.business-card__text-block {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.business-card__text {
  line-height: 1.2rem;
  width: 40%;
}

.business-card__text_first {
  width: 30%;
}

.hightlight {
  font-weight: 700;
}

.business-card__img {
  margin-top: 2rem;
  width: 80%;
}

.report-card {
  position: relative;
  grid-column: span 2;
  grid-row: span 3;
  padding: 2rem;
  background: var(--blue-color);
  background: linear-gradient(340deg, var(--blue-color) 0%, #69d7fb 20%, #69d7fb 25%, #f5f5f5 45%);
  border-radius: 2rem;
  height: fit-content;
}

.report-card__title {
  color: var(--dark-text-color);
  margin: 0;
}

.report-card__text {
  position: relative;
  z-index: 2;
  color: var(--dark-text-color);
  display: inline-block;
  width: 75%;
  margin-top: 2rem;
  font-weight: 500;
  line-height: 1.2rem;
  font-size: 1.1rem;
}

.report-card__link {
  display: block;
  margin-top: 2rem;
  width: fit-content;
}

.get-poe-btn {
  background: transparent;
  padding: 1rem 3rem;
  border: 0.15rem solid var(--dark-text-color);
  border-radius: 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--dark-text-color);
}

.report-card__img {
  position: absolute;
  width: 17rem;
  right: 2rem;
  bottom: 1rem;
}

.map-card {
  grid-column: span 1;
  grid-row: span 6;
  border-radius: 2rem;
  height: 40rem;
  overflow: hidden;
}

.map-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.link-card {
  display: block;
  grid-column: span 2;
  grid-row: span 1;
  height: 4.55rem;
}

.card-button {
  background: var(--main-gradient);
  width: 100%;
  height: 100%;
  border-radius: 2.1rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--light-text-color);
}

.tutorial {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.vertical-cards {
  display: flex;
  justify-content: space-between;
}

.tutorial__card {
  padding: 2rem;
  width: 43%;
  background-color: var(--card-color);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tutorial__title {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.8rem;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
  height: 5rem;
  background-color: var(--blue-color);
  border-radius: 1rem;
}

.card__num {
  width: 5rem;
  height: 100%;
  background: var(--main-gradient);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-right: 1rem;
}

.card__text {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8rem;
  width: 70%;
}

.card__img {
  margin-right: 1rem;
}

.horizontal-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
  padding: 1.5rem 2rem;
  background-color: var(--card-color);
  border-radius: 2rem;
}

.horizontal-card__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 11rem;
}

.horizontal-card__button {
  height: 3rem;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  margin: 0;
}

.horizontal-card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 11rem;
}

.horizontal-card__info > a {
  width: fit-content;
}

.horizontal-card__title {
  font-weight: 600;
  font-size: 1.5rem;
}

.horizontal-card__text {
  font-weight: 400;
  font-size: 1.5rem;
  width: 80%;
  line-height: 1.5rem;
}

.horizontal-card__button_white {
  background: var(--light-text-color);
  color: var(--dark-text-color);
  font-weight: 600;
  margin: 0;
}

.card-container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.trust__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 2rem;
  height: 32rem;
  width: 24rem;
  overflow: hidden;
  padding-bottom: 1.5rem;
}

.trust__img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 24rem;
}

.trust__text {
  text-align: justify;
  width: 80%;
  line-height: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.trust__text {
  width: auto;
  text-align: justify;
}

.trust__text .line {
  display: inline-block;
  width: 100%;
  letter-spacing: 0.07em;
}

.trust__text .line:last-child {
  display: inline-block;
  text-align: justify;
  letter-spacing: 0.1em;
}

.trust__card > a {
  width: 80%;
}

.title {
  text-transform: uppercase;
}

.cooperation__title {
  width: 80%;
}

.form-container {
  margin-top: 2rem;
  border-radius: 2rem;
  background: linear-gradient(313deg, #f5f5f5 5%, #69d7fb 20%, #69d7fb 30%, var(--blue-color) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 2.5rem 2rem 2.5rem;
}

.input {
  display: block;
  margin-bottom: 1rem;
  width: calc(100% - 2rem);
  border: none;
  border-radius: 2rem;
  height: 3rem;
  resize: none;
  padding: 0 1rem 0 1rem;
  outline: none;
  font-weight: 500;
  color: var(--dark-text-color);
  font-size: 1.1rem;
  font-family: 'montserrat' !important;
}

.input::placeholder {
  font-size: 1.1rem;
  font-family: 'montserrat' !important;
}

textarea {
  height: 5rem !important;
  border-radius: 1.5rem !important;
  padding: 1rem !important;
  font-family: 'montserrat' !important;
  font-size: 1rem;
}

textarea::-webkit-scrollbar {
  width: 0.7vw;
}

textarea::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

textarea::-webkit-scrollbar-thumb {
  background-color: rgba(86, 92, 121, 0.222);
  border-radius: 20px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background-color: rgba(86, 92, 121, 0.361);
  cursor: pointer;
}

.form-group input[type='checkbox'] {
  display: none;
}

.form-group > label {
  display: flex;
  align-items: center;
  height: 1.1rem;
  width: 100%;
  margin-bottom: 1rem;
  color: var(--dark-text-color);
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 1.1rem;
  height: 1rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  background: #dcf6ff;
  margin: 0 0.5rem 0 1rem;
}

.custom-checkbox::after {
  content: '';
  position: absolute;
  display: none;
  top: 51%;
  left: 51%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  width: 0.8rem;
  height: 0.7rem;
  background-color: #23b8ea;
}

input[type='checkbox']:checked + .custom-checkbox::after {
  display: block;
}

.form-button {
  width: 13rem;
  height: 3.1rem;
  border-radius: 1.2rem;
  color: var(--dark-text-color);
  font-size: 1.3rem;
  font-weight: 500;
}

.about {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts__text {
  margin-bottom: 0.5rem;
}

.media {
  display: flex;
}

.media__link {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #00c1ff 60%, #2fcbfd 70%, #69d7fb 80%, #f5f5f5 100%);
  height: 4rem;
  width: 12rem;
  margin-left: 2rem;
  border-radius: 1rem;
  color: var(--light-text-color);
}

.media__link > img {
  margin-right: 1rem;
  width: 30%;
}

.agree-btn {
  background-color: transparent;
  border: none;
  width: fit-content;
  font-family: 'montserrat';
  font-size: 1rem;
  color: #00759c;
  cursor: pointer;
}

.agree-btn:hover {
  color: #008dbc;
}

.agree-btn:active {
  color: #008dbc;
}
