@keyframes openAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes closeAnim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.open {
  animation: openAnim 0.2s ease-in;
}

.close {
  animation: closeAnim 0.2s ease-in;
}

.modal-content {
  z-index: 10000 ;
  overflow-x: hidden;
  display: none;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 3rem;
  position: fixed;
  width: 60%;
  height: 75vh;
  background: #0d0131e8;
  border-radius: 1rem;
  top: 5vh;
  left: 50%;
  transform: translate(-50%, 0);
  overflow-y: auto;
}

.modal-content::-webkit-scrollbar {
  width: 0.7vw;
}

.modal-content::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: rgba(86, 92, 121, 0.222);
  border-radius: 4px;
}

.modal-content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(86, 92, 121, 0.361);
}

.modal-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  flex-direction: row-reverse;
}

.modal-title {
  font-size: 2rem;
  font-weight: 700;
}

.modal-close-btn {
  background: none;
  cursor: pointer;
  border: none;
  color: var(--light-text-color);
  font-size: 3rem;
  transition: transform 0.2s;
}

.modal-close-btn:active {
  transform: scale(1.1);
}

.modal-strong {
  font-weight: 700;
  margin-bottom: 1rem;
}

.modal-text > a {
  color: var(--blue-color);
}

.modal-text {
  margin-bottom: 1rem;
}

.modal-list {
  margin-left: 3rem;
  width: 95%;
  list-style-type: demical;
}

.modal-btn {
  margin: 2rem 25% 0 25%;
  background: var(--light-text-color);
  color: var(--dark-text-color);
  padding: 1rem 4rem;
  border-radius: 3rem;
  transition: transform 0.2s;
}

.modal-btn:active {
  transform: scale(0.97);
}
